[Unit]
Description=Image Screen Display
After=network.service

[Service]
WorkingDirectory=~/imagescreendisplay
ExecStart= /usr/bin/npm run production
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target